p {
  text-align: center;
  font-family: Georgia;
  /*color: rgb(24,74,69);*/
}

h1{
  text-align: center;
  font-family: Georgia;
  color: rgb(255,111,97);
}

.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 99%
}

body{
  /*background: rgb(181,186,182);*/
}
iframe{
  margin: 0 auto;
  display: block;
}